.display-image{
	width: 80%;
	height: 80%;
	position: absolute;
}
.row{
	padding: 10px;
	height: 100px;
}
.item{
	height: 300px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.display-image:hover{
	width: 100%;
	height: 100%;
}
.modal-image {
	height: 600px;
}
.modal-content{
	height: 850px;
}
.modal-body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-footer{
	align-items: center;
	justify-content: center;
}

